
body{
    margin:0;
    font-family: Arial, sans-serif;
     background-color: rgba(101, 207, 106, 0.205);
}

/* NAVIGATION */
ul.topnav{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#0d8d20;
}

ul.topnav li{float:left;}

ul.topnav li a{
    display:block;
    color:black;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

ul.topnav li a:hover{
    background-color:#111;
    color:rgb(145, 243, 17);
}

ul.topnav li a.active{
    background-color:#4CAF50;
    color:rgb(255, 255, 255);
}


.main{
    margin: top 800px;
    text-align: center;
    color: #000;
    font-style: courier;
    font-size: large;
}

.gallery img{
    width:600px;
    height:400px;
    margin:20px;
    border-radius:10px;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}


.contactmain{
    margin-top:100px;
    text-align:center;
    font-size:20px;
}

.rating{
    margin-top:50px;
    text-align:center;
}

